@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body {
    background-color: #FAFAFA;
}

.header {
    display: flex;
    margin-top: 110px;
    margin-bottom: 96px;
    flex-shrink: 0;
}

.header h1 {
    font-family: 'PT Serif';
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.045em;
    margin-left: 243px;
    width: 278px;
    flex-shrink: 0;
}

.under-header {
    width: 439px;
    margin-left: 200px;
    flex-shrink: 0;
}

.under-header h2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 10px;
}

.under-header p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    flex-shrink: 0;
}

.main {
    display: flex;
    flex-wrap: wrap;
    margin-left: 230px;
}

.team-content {
    margin-right: 66px;
    width: 264px;
    position: relative;
    margin-bottom: 132px;
}

.img-container {
    width: 238px;
    height: 347px;
    margin-bottom: 10px;
}

.image {
    width: 100%;
}

.team-content p {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.team-content a {
    transform: rotate(90deg);
    position: absolute;
    top: 30px;
    right: -30px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

#job1 {
    right: -40px;
    top: 45px;
}

#img2, #img5 {
    margin-top: 100px;
}

.footer {
    text-align: center;
    margin-bottom: 24px;
    color: #BDBDBD;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
}


@media (max-width: 700px) {
    .header {
        flex-direction: column;
    }
    .header h1, .header, .main, .under-header{
        margin-left: 12px;
    }
    .header h1 {
        text-align: left;
        margin-bottom: 38px;
    }
    .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .team-content {
        width: 156px;
        height: 237px;
        margin-right: 150px;
    }
    .img-container {
        height: 240px;
    }
    .team-content p {
        margin-top: 105px;
    }
    .team-content a {
        right: -170px;
        font-size: 16px;
        font-weight: 600;
        top: 50px;
    }
    #img4, #img6 {
        margin-top: 75px;
    }
    #img5 {
        margin-top: 0;
    }
    #job1 {
        right: -170px;
        top: 50px;
    }
    #job2 {
        right: -150px;
        top: 40px;
    }
    #job1, #job2 {
        font-weight: 400;
    }
    .footer {
        margin-top: 80px;
    }
}

@media (min-width: 701px) and (max-width:1200px) {
    .main, .header, .header h1 {
        margin-left: 20px;
    }
    .under-header p, .under-header h2, .under-header {
        flex-shrink: 1;
    }
    .header {
        flex-direction: column;
    }
    .under-header {
        margin-top: 20px;
        margin-left: 20px;
    }
    .main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    #img5 {
        margin-top: 0;
    }
    #img4, #img6 {
        margin-top: 75px;
    }
}


